*{
    padding:0;
    margin: 0;
}
body{
    height: 100vh;
    background-color: cadetblue;
}
img{    
    display: block;
    /* margin: 10px 0px; */
    animation: slide 16s infinite;
}

.image-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slideshow{
    display: flex;
    /* gap: 10px; */
    width: 700px;
    height: 450px;
    border: 10px solid black;
    border-radius: 10px;
    overflow:hidden;
}

@keyframes slide {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}